md-card {
    box-shadow: none;
    transition: box-shadow 1s;
}

md-card:hover {
    box-shadow: 2px 2px 2px #FF4081;
}
@media (max-width: 600px) {
    .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
    .grid {
    margin: 0;
    }
    .module {
    min-width: 60px;
    }
}