<md-toolbar color="primary">

    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
    
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item [routerLink]="['/dashboard']"> Dashboard </button>
  <button md-menu-item [routerLink]="['/heroes']"> Heroes </button>
  <button md-menu-item (click)="logout()"> Logout </button>
</md-menu>

<router-outlet></router-outlet>


<!--<md-sidenav-container>
  <md-sidenav #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
        <span md-line class="secondary">Home</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/dashboard']">
        <md-icon md-list-icon>list</md-icon>
        <span md-line>Dashboard</span>
        <span md-line class="secondary">Dashboard</span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/heroes']">
        <md-icon md-list-icon>bookmark</md-icon>
        <span md-line>Heroes</span>
        <span md-line class="secondary">Heroes</span>
      </a>
      <a md-list-item (click)="sidenav.close()" (click)="logout()">
        <md-icon md-list-icon>exit_to_app</md-icon>
        <span md-line>Logout</span>
        <span md-line class="secondary">Logout</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar [color]="primary">

    <button *ngIf="isLoggedIn" md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>

    <span>{{title}}</span>
    <span class="fill-remaining-space"></span>
    <span>(Firebase + Auth)</span>
  </md-toolbar>


  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>-->



<!--<h1>{{title}}</h1>-->

<!--<button md-button>Click me!</button>

<md-tab-group>
  <md-tab label="Tab 1">Content 1</md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>-->



<!--<nav *ngIf="isLoggedIn">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a (click)="logout()">Logout</a>
</nav>-->

<!--<router-outlet></router-outlet>-->

<!--<router-outlet></router-outlet>-->