@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  height: 100%;
}

body {
    margin: 2em;
}

.primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }

.background-primary-color {
    background-color: #3F51B5!important;
  }

.background-accent-color {
    background-color: #FF4081!important;
  }

.white-text {
    color: #FFF!important;
}

.custom-spinner {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}